* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}

.title {
    padding: 20px 0;
    color: #333;
    font-size: 18px;
    font-weight: 700;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.container {
    margin-top: 30px;
    width: 75%;
}

.block-img {
    width: 20%;
}

.block-img img {
    width: 100%;
}

.container .heading {
    font-size: 20px;
    color: #6e6e6e;
    font-weight: 700;
    text-align: center;
    padding: 5px 0;
}

.content .desc {
    color: #856e6e;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.content span {
    color: #2c5989;
    font-weight: 700;
}

.content b {
    font-weight: 700;
}

.foot {
    font-size: 18px;
}

.foot .foot-heading {
    font-size: 20px;
    font-weight: 700;
    color: #6e6e6e;
    font-style: italic;
    padding: 10px 0;
}
