@media screen and (max-width: 767px) {
  main {
    padding: 10px;
  }
  .immedia {
    display: none;
  }
  .product-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .product-left,
  .product-right {
    width: 100%;
  }
  .product-left .content-left {
    flex-shrink: 0;
  }

  .product-right .group-price {
    column-gap: 20px;
  }

  .product-right .title {
    width: 90% !important;
    line-height: 1.4;
  }

  .product-right .group-price .price {
    font-size: 18px;
    padding: 20px 10px 20px 0;
  }

  .product-right .group-price .sale {
    font-size: 14px;
  }
  .group-price .container {
    flex: 1;
  }
  .product-right .warehouse {
    width: 200px;
  }
  .product-right .size,
  .product-right .stars,
  .order-right {
    width: 100%;
  }
  .img-hover {
    pointer-events: none;
  }

  .order-left {
    display: none;
  }
  .order-right .block-left {
    flex: 1;
  }

  .block-mid .bag {
    line-height: 1.4;
    text-align: center;
  }

  .block-right .dollar {
    line-height: 1.4;
    text-align: center;
  }
  .order-right .block-left .content {
    padding: 30px 12px;
  }
  .order-right .block-quantity button {
    padding: 10px;
  }
  .order-right .policy {
    width: 100%;
  }
  .block-img {
    width: 100%;
  }
  .block-img .title {
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .foot .desc {
    font-size: 16px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-wrapper {
    flex-direction: column;
  }

  .product-left {
    width: 100%;
  }
  .content-left {
    flex-shrink: 0;
  }
  .product-right .group-price {
    width: 100%;
  }
  .product-right .size {
    width: 100%;
  }

  .order {
  }
  .order-left {
    display: none;
  }

  .order-right {
    width: 100%;
  }
  .order-right .policy {
    margin: 30px auto 0;
  }
  .block-img {
    width: 100%;
  }
  .img-hover {
    pointer-events: none;
  }
}
